<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Menu</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

    <link rel="stylesheet" href="/static/frameset.css">
</head>

<body>
    <div class="links">
        <div class="link1" style="background-color: rgb(6, 72, 134); color: white;" >
            <a href="/" target="_top" style="text-align: center;"> <i class="fa-solid fa-arrow-left" style="margin-right: 10px;"></i>    Back to Home </a>
        </div>
        <div class="link1" style="background-color: green;">
        <a href="/dashboard" target="main">Go to Dashboard</a>
        </div>
        <div class="link1">
    <a href="/addevents" target="main">Add Events</a></div>
    <div class="link1">
    <a href="/viewevents" target="main">View Events</a></div>
    <div class="link1">
    <a href="/viewusers" target="main">View Users</a></div>
</div>
</body>
</html>